// @function: strip-unit()
// remove unit and return int
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}


// @function: rem()
// px to rem unit conversion
@function rem($value) {
  @if ( strip-unit($value) == 0 ) { @return 0 } //Return 0 as-is
  
  @return (strip-unit($value) / strip-unit($rem-base)) * 1rem;
  
}


// @mixin: clearfix()
// Nicolas Gallagher's Micro-clearfix
@mixin clearfix() {
	&:after {
		clear: both;
	}
	&:after,&:before {
		content: " ";
		display: table;
	}
}


// @mixin: truncate()
// Truncate overflowing text
@mixin truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}