// Name:			Utility
// Description:		Classes used for common styling tasks
//
// Compontent:		u-clearfix-*
//					u-float-*
//					u-vertical-align-*
//					u-scrollable-*
//




// Variables
// <oooooooooooooooooooooooooooooooooooooooooooooooooooo>

$prefix: pod--;

.#{$prefix} {

	&foo {
		display: table;
	}

	&foo { 
		display: table-cell; 
	}
}