{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "classes": true,
    },
    "rules": {
        "max-len": ["error", 400],
        "camelcase": ["off", {properties: "never"}],
        'no-underscore-dangle': ["off", { "allow": [] }],
        'import/no-unresolved': ["off"],
        "indent": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4]
    }
}
