/*! Peapod
 *  Copyright Audentio 2015
 */

@import 'config';

/*Button base*/
.btn {
  display: inline-block;
  
  border-radius: $btn-radius;
  border: 0px solid transparent;
  
  background-color: transparent;
  
  padding: $elm-padding-v $elm-padding-h; //TBD
  
  font-family: inherit;
  font-size: inherit;
  //font-weight: 500;
  
  //text-transform: uppercase;
	text-decoration: none;
  
  transition: $transition-duration;
  
  &:hover, &:active {
    cursor: pointer;
    outline: 0;
  }
	
	&:active {
		transition-duration: .1s;
		transform: scale(.95);
	}
  
  &--raised {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
	
	&--round {
		border-radius: 1000px;
	}
	
	//Needs more specific selector to override browser stylesheet
	&.btn--disabled {
		opacity: .6;
		cursor: not-allowed;
		&:active {
			transform: none;
		}
	}
}

//=============
//Button styles
//=============

//This mixin will generate CSS for normal and hover/focus states

@mixin btn-style(
  //defaults
  $background:#666,
  $color:white
  ){
  
  background-color: $background;
  color: $color;
  
  &:hover {
    background-color: lighten($background, 12%);
  }
	
	&.btn--disabled {
		&:hover {
			background-color: $background;
		}
	}
  
}

/*Default*/
.btn-default {
  @include btn-style;
}

/*Primary*/
.btn-primary {
  @include btn-style($brand-primary);
}

/*Success*/
.btn-success {
  @include btn-style($brand-success);
}

/*Danger*/
.btn-danger {
  @include btn-style($brand-danger);
}

/*Warning*/
.btn-warning {
  @include btn-style($brand-warning);
}