
body {
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #eee;
	line-height: 1.4;

	/*padding: 20px;*/
}

.section {
  padding: 25px 40px;
  border-bottom: 1px solid #ddd;
}

#mainContainer {
	/*max-width: 1100px;*/
	margin: auto;
	background: #fff;
}
#mainLoader {
	border: 2px solid green;
	color: green;
	padding: 50px;
	position: absolute;
	top: 20%; left: 0; right: 0;
	max-width: 50%;
	margin: 0 auto;
	text-align: center;
}
.special-button {
	transition: 0s;
	background: #ccc;
	color: #333;
	text-transform: uppercase;
	font-weight: 500;

	&:hover {
		background: #aaa;
		color: white;
	}
}

.Pod_textInput,
.btn,
.Pod_checkbox,
button {
	margin-right: 5px;
	margin-bottom: 5px;
}
/*
h1 {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 1.5em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
h1:after {
	content: "";
    display: block;
    border-bottom: 2px solid #73AEF7;
    width: 40px;
}
*/