
body {
	font-size: 13px;
	font-family: -apple-system, roboto, sans-serif;
	background: #eee;
	line-height: 1.4;
}

img {
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

.section {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 50px;
  
  hr {
	  border-color: #ddd;
	  margin: 20px 0;
  }
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 500;
}

h1 {
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 1em;
}
#mainContainer {
	max-width: 1100px;
	margin: auto;
	background: #fff;
}

.special-button {
	transition: 0s;
	background: #ccc;
	color: #333;
	text-transform: uppercase;
	font-weight: 500;
	
	&:hover {
		background: #aaa;
		color: white;
	}
}

.Pea_textInput,
.btn,
.Pea_checkbox {
	margin-right: 10px;
	margin-bottom: 10px;
}