<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    
    <title>Peapod - button</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3" />
    
    <link rel="stylesheet" type="text/css" href="css/main.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,400italic,300italic,500italic,700italic' rel='stylesheet' type='text/css'>
    
    <script src="../../../bower_components/react/react.js" type="text/javascript"></script>
    <script src="../../../bower_components/react/JSXTransformer.js" type="text/javascript"></script>
    <script src="../buttons/buttons.jsx" type="text/jsx"></script>
</head>

<body>

<script type="text/jsx">
    React.render(
      <div id="buttonExamples">
        <h2>Flat</h2>
        <PP_Button label="Button base" /> &nbsp;
        <PP_Button label="Default" style="default" /> &nbsp;
        <PP_Button label="Primary" style="primary" /> &nbsp;
        <PP_Button label="Success" style="success" /> &nbsp;
        <PP_Button label="Danger" style="danger" /> &nbsp;
        <PP_Button label="Warning" style="warning" /> &nbsp;
        
        <br /><br />
        <h2>Raised</h2>
        <PP_Button label="Button base" raised={true} /> &nbsp;
        <PP_Button label="Default" style="default" raised={true} /> &nbsp;
        <PP_Button label="Primary" style="primary" raised={true} /> &nbsp;
        <PP_Button label="Success" style="success" raised={true} /> &nbsp;
        <PP_Button label="Danger" style="danger" raised={true} /> &nbsp;
        <PP_Button label="Warning" style="warning" raised={true} /> &nbsp;
      </div>,
      document.body
    );
</script>

<!-- BrowserSync -->
<script type='text/javascript' id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.9.6.js'><\/script>".replace("HOST", location.hostname));
//]]></script>

</body>
</html>
