/*! Peapod v<%= package.version %>
 *  Copyright Audentio <%= package.year %>
 *  LICENSE: <%= package.licence %>
 */

@import 'config';


// Generic input-box styling
%inputbox {
	position: relative;
	display: inline-block;
	border: 1px solid #ddd;
}
// Native Input, hidden
%inputbox__input {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	border: 0;
	outline: 0;
	background-color: transparent;
	padding: $elm-padding-v;
}

%inputbox__placeholder {
	opacity: .4;
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: $elm-padding-v;
}


//.select#{$suffix} {
//lets use element tagNames as selectors. No need for prefix + uniformity


.Pea_textInput { 
  @extend %inputbox;
	
	// Text input
	input {
		@extend %inputbox__input;
	}
	
	&__placeholder {
		@extend %inputbox__placeholder;
	}
}



//Checkbox wrapper
.Pea_checkbox {
	cursor: pointer;
	display: inline-block;
	
	//actual checkbox
	&__box {
		position: relative;
		display: inline-block;
		width: 16px;
		height: 16px;
		top: 3px; //Don't ask why
	}
	
	%checkbox_innerElm {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	&__input {
		@extend %checkbox_innerElm;
		visibility: hidden;
	}
	
	&__base {
		@extend %checkbox_innerElm;
		z-index: 0;
		border: 1px solid #ccc;
		border-radius: 1px;
		//transition: $transition-duration;
		
		.Pea_checkbox--checked & {
			background: #444;
			border-color: #444;
		}
		
		.Pea_checkbox--checked.Pea_checkbox--primary & {
			background: $brand-primary;
			border-color: $brand-primary;
		}
		
		.Pea_checkbox--checked.Pea_checkbox--success & {
			background: darken($brand-success,10%);
			border-color: darken($brand-success,10%);
		}
		
		.Pea_checkbox--checked.Pea_checkbox--danger & {
			background: $brand-danger;
			border-color: $brand-danger;
		}
		
		.Pea_checkbox--checked.Pea_checkbox--warning & {
			background: orange;
			border-color: orange;
		}
	}
	&__icon {
		z-index: 1;
		position: absolute;
		top: 50%;
		left: 50%;    
		width: 4px;
		height: 10px;
		margin-top: -6px;
		margin-left: -10%;
		border-width: 0 1px 1px 0;
		border-style: solid;
		border-color: transparent;
		transform: rotate(0deg) scale(0);
		transition: $transition-duration;
		
		.Pea_checkbox--checked & {
			border-color:white;
			transform: rotate(45deg) scale(1);
		}
	}
	
	&__label {
		margin-left: 5px;
	}
}